body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.header {
    display: flex;
    align-items: center;
    background: #0A6EBD;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 40px;
    margin-right: 20px;
}

.menu a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.contenido {
    padding: 20px;
}
